/**********************
**** VERTICAL HEIGHT
***********************/
/* Do not use this except for the main layout */
.profile-contacts {
  border-top: 1px solid #edcebf;
  display: flex;
  flex-direction: column; }
